name: Run linter

on:
  pull_request:
    branches: [main, dev]

jobs:
  ruff:
    name: Run ruff
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Setup environment
        run: task venv

      - name: Lint with Task
        run: task lint

      - name: Check formatting with ruff
        run: uv run ruff format --check .
