name: Run pytest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, dev]

jobs:
  pytest:
    name: Run pytest
    runs-on: ubuntu-latest
    environment: pypi
    strategy:
      matrix:
        python-version: [ "3.11", "3.12", "3.13" ]
    env:
      ENA_WEBIN: ${{ secrets.ENA_WEBIN }}
      ENA_WEBIN_PASSWORD: ${{ secrets.ENA_WEBIN_PASSWORD }}
      WEBIN_CLI_VERSION: ${{ vars.WEBIN_CLI_VERSION }}

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Cache ena-webin-cli
        uses: actions/cache@v5.0.1
        with:
          path: webin-cli-${{ vars.WEBIN_CLI_VERSION }}.jar
          key: webin-cli-${{ vars.WEBIN_CLI_VERSION }}

      - name: Download ena-webin-cli
        run: wget https://github.com/enasequence/webin-cli/releases/download/${WEBIN_CLI_VERSION}/webin-cli-${WEBIN_CLI_VERSION}.jar

      - name: Run tests
        run: uv run pytest
